.btn {
  font-size: 16px;
  font-weight: 400;
  padding: 11px 20px;
  border-radius: var(--radius-4);
  transition: background-color 250ms ease-in;

  &-primary {
    color: var(--c-theme);
    background-color: var(--c-highlight);

    &:hover {
      color: var(--c-theme);
      background-color: var(--c-highlight);
    }
  }

  &-secondary {
    color: var(--c-gray);
    background-color: var(--c-gray-lightest);

    &:hover {
      color: var(--c-gray);
      background-color: var(--c-gray-lighter);
    }
  }
}