.container {
  width: 100%;
  max-width: var(--width-base);
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container-sm {
  @extend .container;
  max-width: var(--width-sm);
}

.container-lg {
  @extend .container;
  max-width: var(--width-lg);
}

span.badge {
  font-size: 10px;
  font-weight: 600;
  padding: 4px 6px;
  margin-left: 8px;
  text-transform: uppercase;
  color: var(--c-gray-lightt);
  background-color: var(--c-gray-lightest);
  border-radius: var(--radius-4);
  transition: all 0.25s ease 0s;
}

.text-center {
  text-align: center;
}